/*
    Document   : nettbutikk
    Created on : 26.apr.2011, 11:51:35
    Author     : Eier
    Description:
        Purpose of the stylesheet follows.
*/

root {
    display: block;
}

body {
    background: #ffffff;
}

#header{
    text-align: center;
    background: #ff0000;
}

#l_meny{
    background: #ff0000;
    width: 15em;
    float: left;
}

#r_meny{
    background: #ff0000;
    width: 15em;
    float: right;
}

#innhold{
    background: #ffffff;
    width: auto;
    float: left;
    padding: 1em;
}

form p {display:table;}
form label {display:table-cell;width:250px;}
form span {display:table-cell;}
form span span {display:inline;}
form input, form select {width:200px;}
form input[type=checkbox] {width:60px;}
form input[type=submit],form input[type=button] {padding:3px;width:150px;margin-left:50px;}
form textarea {width:450px;}

.leggtilvare input[type=submit] {padding:0px;width:60px;margin-left:0px;}
.leggtilvare input[type=text] {width:30px;}

.feilmelding
{
	padding:0.2em;
	background:#ffd0cc;
	border:2px solid #cc6655;
}
.advarselmelding
{
	padding:0.2em;
	background:#ffffcc;
	border:2px solid #cccc55;
}
.okmelding
{
	padding:0.2em;
	background:#d0ffcc;
	border:2px solid #66bb55;
}

#minkontomeny{display: table;}
#minkontomeny a
{
    display: table-cell;
    width: 150px;
    background: #cccccc;
    padding: 5px;
    text-decoration: none;
}
#minkontomeny a:hover {background:#c0c0c0;}
.varelinje
{
    display: table;
}
.varebilde
{
    display: table-cell;
    width:100px;
    vertical-align: top;
    background: #cc6655;
}
.pris
{
    display: table-cell;
    width:100px;
    vertical-align: top;
    background: #cc6600;
}
.pris p {margin:0;}
.varetekst
{
    display: table-cell;
    width: 500px;
    vertical-align: top;
    background: #cc0055;

}
.varetekst h3 {margin:0;}